<%= breadcrumb "Panels", :button => link_to("Add panel", new_panel_path) %>
<br/>

<%# link_to "Add panel", new_panel_path, :class => "big-button" %>

<table class="index-panels">
  <% for panel in @panels %>
    <tr>
      <td><%= link_to panel.name, panel_path(panel) %></td>
    </tr>
  <% end %>
</ul>
