/* blue link: #4183C4 */
/* highlight: #fff5e7 */
/* table stripes: #edf3fe */

/* Global */
a { color:#3a63C0; text-decoration:none }
h2 { font-size:18px; color:#555555; }
a:hover { color:#102390 }
body { color:#333333; font-family: Helvetica, arial, sans-serif; font-size:12px }
.hint { color:#777777; font-style:italic; font-size:13px; font-family:Cambria, Georgia, Times, 'Times New Roman', serif; }

/* Buttons */
.small-button, .big-button { background-color:#777777; color:#ffffff; padding:4px 8px; cursor:pointer;
   -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; }
.small-button:hover, .big-button:hover { background-color:#555555; color:#ffffff }
.big-button { font-size:14px; padding:4px 12px }

.rounded_2 { -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; }
.rounded_4 { -webkit-border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; border-radius:4px; }

/* Utility classes */
.delete-link { color:#ff3333 }
a.delete-link:hover { color:#ff3333; text-decoration:underline }
.delimiter { background-color:#eeeeee; padding:4px 4px;
      -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; }
      
/* Generic data table */
.data-table { }
  .data-table tr { height:23px; }
  .data-table tr th { font-size:11px; font-weight:bold; text-transform:uppercase; color:#999999; border-bottom:3px solid #e5e5e5; background-color:#ffffff }
  .data-table tr td { padding:4px 8px 4px 8px; border-bottom:solid 1px #eeeef5; }
  .data-table tr:last-child td { border-bottom:none }
  .data-table tr:hover { background-color:#fff5e7 !important }
  .data-table tr:not([style~="display:none"]):nth-child(2n+1) { background-color:#edf3fe }

.big-form { }
  .big-form input[type=text] { font-size:20px; width:600px; padding:3px }
  .big-form .console { color:#ffffff; background-color:#000000;  }
  .big-form input[type=submit] { font-size:18px }
  
.console { background-color:#000000; color:#ffffff }

.breadcrumb { color:#999999; background-color:#eeeeee; border:solid 1px #dddddd; font-size:14px; padding:10px; }
  .breadcrumb .last { color:#000000; font-weight:bold }
  .breadcrumb .button { float:right }
  .breadcrumb .button a { font-size:12px; color:#ffffff; background-color:#aaaaaa; padding:4px 8px; 
                          -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px;  }
  .breadcrumb .button a:hover { background-color:#777777 }

  
/* ============================== */
/* =           Panels           = */
/* ============================== */
.index-panels td { }
.index-panels a { font-size:18px; padding:4px 0 }


/* ============================== */
/* =         Executions         = */
/* ============================== */
.services a { background-color:#eeeeee; padding:4px; -webkit-border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; border-radius:2px; }
.services a:hover { background-color:#777777 }
.services .name { font-size:14px; padding-right:4px; color:#555555 }
.services .ok { color:#33aa33 }
.services .timeout { color:#eea555 }
.services .error { color:#aa3333 }

